{% extends 'menu/menu.html' %}
{% load static %}
{% block content %}
  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt=""> 
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                SOMOS A CYBER BURGER
              </h2>
            </div>
            <p>
              Nós somos a Cyber Burger, uma humburgueria conceito, que nasceu da amizade entre seis amigos apaixonados por tecnologia e por comida. 
              Preparamos os melhores  burgers de São Paulo em um ambiente super descolado voltado para os apaixonados por games
              e programação!
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
  {% endblock %}