
{% load static %}

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          O QUE NOSSOS CLIENTES FALAM
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  A Cyber burger possui um ambiente super descolado para os apaixonados por tecnologia, games e por boa comida, 
                  a decoração é linda o atendimento é ótima e os burgers deliciosos!!
                </p>
                <h6>
                  Ana Souza
                </h6>
                
              </div>
              <div class="img-box">
                <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  Sempre venho a Cyber burger, sou estudante de TI e apaixonado por games aqui tem ambiente descontraido
                  onde posso jogar com os meus amigos, sem falar na comida que é sensacional!
                </p>
                <h6>
                  Fernando Silva
                </h6>
                
              </div>
              <div class="img-box">
                <img src="{% static 'images/client2.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
