  {% extends 'base.html' %}
  {% load static %}
  {% block content %}
    <!-- end header section -->
    <!-- slider section -->
    {% include "header.html" %}
    <!-- end header section -->
    <!-- slider section -->
{% include "slider.html" %}
<!-- end slider section -->


<!-- offer section -->
{% include "offer.html" %}

<!-- end offer section -->

<!-- food section -->
{% include "food.html" %}
<!-- end food section -->

<!-- about section -->
{% include "sobre.html" %}

<!-- end about section -->

<!-- book section -->
{% include "livro.html" %}
<!-- end book section -->

<!-- client section -->
{% include "client.html" %}

<!-- end client section -->

<!-- footer section -->
{% include "footer.html" %}
<!-- footer section -->



  {% endblock %}